* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
    background: whitesmoke;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
    align-items:center;
    padding: 30px;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    color: bisque;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: rgb(255, 190, 105);
    z-index: 1;
    border-bottom:1px solid burlywood;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: bisque;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: dashed;
}

section {
    margin: auto;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(250, 197, 128);
}

.kolom {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;    
    color:black;
}

h2 {
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: black;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: transparent;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: bisque;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: burlywood;
    text-decoration: none;
}

a.tbl-pink {
    background: burlywood;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: bisque;
    text-decoration: none;
}

p {
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
}

#contact {
    background: #dedede;
    padding:50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}


#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

<!---cart---->

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color:#fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 30px;
    height: 20px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.container{
    max-width: 1500px;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
}

<!---pria---->
.categori-pria{
    margin-top: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}